
<div class="card">
<article class="card-body">
<a routerLink="/register" class="float-right btn btn-outline-primary">Créez votre compte</a>
<h4 class="card-title mb-4 mt-1">Connectez-Vous </h4>
	 <form (ngSubmit)="onSubmit(formLogin)" #formLogin="ngForm" >
        <div class="alert alert-danger" role="alert" *ngIf="messageError">{{ messageError }}</div>   
        <div class="form-group">
    	<label>Email</label>
        <input name="" class="form-control" placeholder="you@example.com*" type="email">
    </div> <!-- form-group// -->
    <div class="form-group">
    	<a class="float-right" href="#">Mot de passe oublié ?</a>
    	<label>Mot de passe</label>
        <input class="form-control" placeholder="Mot de passe*" type="password">
    </div> <!-- form-group// --> 
    <div class="form-group"> 
    <div class="checkbox">
      <label> <input type="checkbox"> Se souvenir de moi </label>
    </div> <!-- checkbox .// -->
    </div> <!-- form-group// -->  
    <div class="form-group">
        <button [disabled]="formLogin.invalid" type="submit" class="btn btn-primary btn-block"> Me Connecter </button>
    </div> <!-- form-group// -->                                                           
</form>
</article>
</div> <!-- card.// -->
    
