
<div class="card">
<article class="card-body">
<a href="" class="float-right btn btn-outline-primary">S'inscrire</a>
<h4 class="card-title mb-4 mt-1">Connectez-vous </h4>
	 <form>
    <div class="form-group">
    	<label>Your email</label>
        <input name="" class="form-control" placeholder="you@example.com" type="email">
    </div> <!-- form-group// -->
    <div class="form-group">
    	<a class="float-right" href="#">Forgot?</a>
    	<label>Your password</label>
        <input class="form-control" placeholder="******" type="password">
    </div> <!-- form-group// --> 
    <div class="form-group"> 
    <div class="checkbox">
      <label> <input type="checkbox"> Save password </label>
    </div> <!-- checkbox .// -->
    </div> <!-- form-group// -->  
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Se connecter </button>
    </div> <!-- form-group// -->                                                           
</form>
</article>
</div> <!-- card.// -->
    
