<router-outlet>  
       <div class="container-fuild principal">
              <nav class="navbar navbar-expand-lg navbar-light bg-light">
                     <a class="navbar-brand" routerLink=""><img src="./assets/svg/default_image.png" alt="logo"></a>
                     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                       <span class="navbar-toggler-icon"></span>
                     </button>
                     <div class="collapse navbar-collapse"  id="navbarSupportedContent">
                       <ul class="navbar-nav mr-auto">
                         <li class="nav-item active">
                           <a class="nav-link" routerLink="" >Home <span class="sr-only">(current)</span></a>
                         </li>
                         <li class="nav-item" active>
                           <a class="nav-link" routerLink="/login" routerLinkActive="active">Se connecter</a>
                         </li>

                       </ul>
                       <p>Vous êtes connecté depuis {{ time| date : "mm:ss" }}</p>
                       <!-- TODO --> 
                       <!-- <p>Vous êtes connecté depuis {{ time| timeAgo }}</p> --> 
                     </div>
              </nav>         
       </div>
       <div class="container-fuild principal">
          <app-audio-player></app-audio-player> 
       </div>
</router-outlet>
